* {
    box-sizing: border-box;
}

body {
    margin: auto;
    display: block;
}

// MIXIN & ROOT
$firstColor: azure;
$secondColor: black;
$thirdColor: darkred;
$firstFont: DKLongreach;
$secondFont: Bakery;
$thirdFont: RoundedSans;

@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: row;
}

// MAIN PAGE
.mainContain {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    .present {
        height: 88.5vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/assets/picts/main-page/foodMainTwo.png');
        .navbar {
            @include flex (row);
            align-items: center;
            justify-content: space-between;
            .navbar-brand {
                margin-left: 15px;
                h2 {
                    font-weight: bold;
                    color: $firstColor;
                    text-shadow: 0px 0px 8px rgba(0,0,0,0.56);
                }
            }
            #btnCanvas {
                display: none;
                font-size: 1.5em;
                color: $firstColor;
                border: transparent;
                background: transparent;
            }
            .navbar-nav {
                column-gap: 60px;
                @include flex (row);
                margin-right: 12px;
                .nav-item {
                    .nav-link {
                        font-size: 1.8em;
                        color: $firstColor;
                        letter-spacing: 2px;
                        font-family: $secondFont;
                        text-shadow: 0px 0px 8px rgba(16, 3, 133, 0.56);
                    }
                }
                #btnLogIn {
                    font-size: 1.4em;
                    color: $firstColor;
                    border: transparent;
                    background: transparent;
                }
            }
        }
        .guide {
            text-align: center;
            position: relative;
            top: 50%;
            left: 80%;
            width: 100%;
            height: 120px;
            max-width: 460px;
            border-radius: 20px;
            transform: translate(-50%, -50%);
            border: 1px solid $firstColor;
            background-color: $secondColor;
            p {
                font-size: 1.8em;
                color: $firstColor;
                font-family: $firstFont;
                text-shadow: 0px 0px 8px rgba(16, 3, 133, 0.56);
            }
            form {
                position: relative;
                top: 50%;
                left: 55%;
                transform: translate(-50%, -165%);
                .form-area {
                    .form-group {
                        @include flex (row);
                        .form-control {
                            width: 70%;
                            margin: auto;
                            display: block;
                            border-radius: 10px 0px 0px 10px;
                        }
                        #btnRecive {
                            height: 42.5px;
                            border-radius: 0px 10px 10px 0px;
                            margin-right: 40px;
                            font-size: 1.5em;
                            font-family: $secondFont;
                            color: $firstColor;
                            background-color: darkgreen;
                        }
                    }
                }
            }
        }
    }
    .goal {
        height: 93px;
        opacity: 0.8;
        background-color: black;
        p {
            line-height: 45px;
            font-family: $secondFont;
            letter-spacing: 2px;
            text-align: center;
            font-size: 1.7em;
            color: $firstColor;
        }
    }
    .ideas {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/picts/main-page/ideaRecipes.png');
        .recipes {
            letter-spacing: 3px;
            font-size: 1.6em;
            padding-top: 5px;
            text-align: center;
            font-family: $thirdFont;
        }
        .listIdeas {
            .row {
                text-align: center;
                .col-lg-4 {
                    .img-fluid {
                        cursor: pointer;
                        height: 300px;
                        max-width: 480px;
                        border-radius: 40px;
                        border: 1px solid $secondColor;
                    }
                    &:hover {
                        opacity: 1.0;
                    }
                    .containIdeas {
                        cursor: pointer;
                        position: relative;
                        top: -83.5%;
                        left: 10.4%;
                        text-align: center;
                        height: 300px;
                        max-width: 480px;
                        border-radius: 40px;
                        margin-bottom: -240px;
                        border: 0px solid $firstColor;
                        p {
                            color: rgb(106, 161, 3);
                            position: relative;
                            top: 50%;
                            left: 50%;
                            font-size: 2.4em;
                            font-family: $firstFont;
                            transform: translate(-50%, -50%);
                            text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #4074b5, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff, 1px 1px 8px rgba(206,85,66,0);
                        }
                        &:hover {
                            opacity: 0.0;
                        }
                    }
                }
            }
        }
    }
    .footer {
        opacity: 0.8;
        align-items: center;
        @include flex (row);
        justify-content: space-between;
        background-color: black;
        p {
            margin-top: 7px;
            margin-left: 10px;
            line-height: 40px;
            padding-top: 2px;
            text-align: center;
            font-size: 1.6em;
            color: $firstColor;
            font-family: $firstFont;
        }
        #btnContact {
            font-size: 1.4em;
            letter-spacing: 3px;
            font-family: $firstFont;
            color: $firstColor;
            margin-right: 10px;
            background: transparent;
            border: 2px solid $firstColor;
            transition: all 0.25ms ease;
            &:hover {
                color: $secondColor;
                background-color: $firstColor;
            }
        }
    }
}

// LOG IN PAGE
.connectContain {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/picts/log-in-page/logInBackground.jpg');
    #btnClose {
        position: relative;
        top: 0%;
        left: 98%;
        font-size: 2.0em;
        color: $firstColor;
        border: transparent;
        background: transparent;
        transition: all 0.25ms ease;
        text-shadow: 0px 0px 8px rgba(0,0,0,0.56);
        &:hover {
            color: $thirdColor;
        }
    }
    .cardConnect {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        max-width: 500px;
        .logIn {
            color: $firstColor;
            font-size: 2.0em;
            letter-spacing: 1px;
            font-family: $firstFont;
            text-align: center;
            text-shadow: 0px 0px 8px rgba(0,0,0,0.56);
        }
        .form-area {
            margin-top: -35px;
            form {
                .formGroupOne {
                    display: flex;
                    column-gap: 20px;
                    flex-direction: row;
                    input {
                        font-size: 1.4em;
                        font-family: $secondFont;
                    }
                }
                #btnConnect {
                    cursor: pointer;
                    display: block;
                    margin: 15px auto;
                    height: 42.5px;
                    border-radius: 10px;
                    font-size: 1.5em;
                    font-family: $secondFont;
                    color: $firstColor;
                    letter-spacing: 1px;
                    background-color: darkgreen;
                }
            }
        }
        .hrefInscribe {
            font-size: 1.3em;
            letter-spacing: 1px;
            text-align: center;
            font-family: $firstFont;
        }
    }
}

// SING UP PAGE
.inscribeContain {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/picts/sign-up-page/signUpBackground.png');
    #btnClose {
        position: relative;
        top: 0%;
        left: 98%;
        font-size: 2.0em;
        color: $secondColor;
        border: transparent;
        background: transparent;
        transition: all 0.25ms ease;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        &:hover {
            color: $thirdColor;
        }
    }
    .cardInscribe {
        position: absolute;
        top: 45%;
        left: 65%;
        transform: translate(-10%, -40%);
        max-width: 1200px;
        .signUp {
            color: $secondColor;
            font-size: 2.0em;
            letter-spacing: 1px;
            font-family: $firstFont;
            text-align: center;
            text-shadow: 0px 0px 8px rgb(255, 255, 255);
        }
        .form-area {
            margin: -30px auto;
            form {
                .formGroupOne, .formGroupTwo {
                    display: flex;
                    column-gap: 20px;
                    flex-direction: row;
                    .form-group {
                        input {
                            width: 300px;
                            font-size: 1.4em;
                            font-family: $secondFont;
                        }
                    }
                }
                #btnInscribe {
                    cursor: pointer;
                    display: block;
                    margin: 15px auto;
                    height: 42.5px;
                    border-radius: 10px;
                    font-size: 1.5em;
                    font-family: $secondFont;
                    color: $firstColor;
                    letter-spacing: 1px;
                    background-color: darkgreen;
                }
            }
        }
        .hrefConnect {
            margin-top: 40px;
            font-size: 1.3em;
            letter-spacing: 1px;
            text-align: center;
            font-family: $firstFont;
        }
    }
}

@font-face {
    font-family: $firstFont;
    src: url('/assets/fonts/DKLongreach.otf');
}

@font-face {
    font-family: $secondFont;
    src: url('/assets/fonts/Bakery.otf');
}

@font-face {
    font-family: $thirdFont;
    src: url('/assets/fonts/RoundedSans.ttf');
}

@media screen and (max-width: 1440px) {
    // MAIN-PAGE
    .mainContain {
        .present {
            height: 70vh;
            .guide {
                top: 40%;
                left: 82%;
            }
        }
        .goal {
            height: 13vh;
            p {
                padding-top: 5px;
                line-height: 30px;
                font-size: 1.5em;
            }
        }
        .ideas {
            .listIdeas {
                .row {
                    .col-lg-4 {
                        .img-fluid {
                            max-width: 350px;
                            margin-bottom: -20px;
                        }
                        .containIdeas {
                            top: -82.4%;
                            left: 12.1%;
                            max-width: 350px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    // MAIN-PAGE
    .mainContain {
        .present {
            height: 52vh;
            .guide {
                top: 40%;
                left: 82%;
                height: 140px;
                max-width: 280px;
                p {
                    font-size: 1.4em;
                }
            }
        }
        .goal {
            height: 16vh;
            p {
                padding-top: 5px;
                line-height: 30px;
                font-size: 1.5em;
            }
        }
        .ideas {
            .listIdeas {
                .row {
                    .col-lg-4 {
                        .img-fluid {
                            max-width: 260px;
                            margin-bottom: -20px;
                        }
                        .containIdeas {
                            top: -82.4%;
                            left: 10.1%;
                            max-width: 260px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 910px) {
    // MAIN-PAGE
    .mainContain {
        .present {
            height: 50vh;
            .navbar {
                #btnCanvas {
                    display: block;
                    margin-right: 10px;
                }
                .navbar-nav {
                    display: none;
                }
            }
        }
        .ideas {
            .listIdeas {
                .row {
                    .col-lg-4 {
                        .img-fluid {
                            height: 350px;
                            max-width: 660px;
                            margin-bottom: -20px;
                        }
                        .containIdeas {
                            height: 350px;
                            top: -74.9%;
                            left: 13.7%;
                            max-width: 660px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    // MAIN-PAGE
    .mainContain {
        .present {
            height: 900px;
            .navbar {
                height: 85.5px;
                opacity: 0.8;
                background-color: black;
            }
            .guide {
                left: 78%;
            }
        }
        .goal {
            height: 12vh;
            overflow: auto;
                max-height: 150px;
            p {
                font-size: 1.4em;
                overflow: auto;
                max-height: 150px;
            }
        }
        .ideas {
            .listIdeas {
                .row {
                    .col-lg-4 {
                        .img-fluid {
                            max-width: 550px;
                            margin-bottom: -20px;
                        }
                        .containIdeas {
                            top: -74.9%;
                            left: 14.1%;
                            max-width: 550px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    // MAIN-PAGE
    .mainContain {
        .present {
            height: 900px;
            .navbar {
                height: 85.5px;
                opacity: 0.8;
                background-color: black;
            }
            .guide {
                top: 79%;
                left: 48%;
            }
        }
        .ideas {
            .listIdeas {
                .row {
                    .col-lg-4 {
                        .img-fluid {
                            max-width: 300px;
                            margin-bottom: -80px;
                        }
                        .containIdeas {
                            top: -74.9%;
                            left: 14.1%;
                            max-width: 300px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    // MAIN-PAGE
    .mainContain {
        .present {
            height: 900px;
            .navbar {
                height: 85.5px;
                opacity: 0.8;
                background-color: black;
            }
            .guide {
                top: 79%;
                left: 48%;
            }
        }
        .ideas {
            .recipes {
                font-size: 1.4em;
            }
            .listIdeas {
                .row {
                    .col-lg-4 {
                        .img-fluid {
                            max-width: 240px;
                            margin-bottom: -80px;
                        }
                        .containIdeas {
                            top: -74.9%;
                            left: 14.1%;
                            max-width: 240px;
                        }
                    }
                }
            }
        }
    }
}