<div class="connectContain">
    <button type="button" id="btnClose" [routerLink]="'/main-page'"><i class="fas fa-times"></i></button>
    <div class="cardConnect">
        <p class="logIn">CONNEXION :</p>
        <div class="form-area">
            <form #connect="ngForm" (ngSubmit)="showConnect(connect)">
                <div class="formGroupOne">
                    <div class="form-group">
                        <label></label>
                        <input type="text" name="pseudo" class="form-control" #pseudo="ngModel" [(ngModel)]="person.pseudo" minlength="10" [ngClass]="{'is.invalid': pseudo.invalid && pseudo.touched}" placeholder="Pseudo" required />
                        <div class="warning" *ngIf="pseudo.invalid && (pseudo.dirty || pseudo.touched)">
                            <div class="alert alert-danger" *ngIf="pseudo.hasError('required')">Pseudo est requis</div>
                            <div class="alert alert-danger" *ngIf="pseudo.hasError('minlength')">Pseudo doit contenir moins de 10 lettres</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="person.password" minlength="15" [ngClass]="{'is.invalid': password.invalid && password.touched}" placeholder="Mot de passe" required />
                        <div class="warning" *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div class="alert alert-danger" *ngIf="password.hasError('required')">Mot de Passe est requis</div>
                            <div class="alert alert-danger" *ngIf="password.hasError('minlength')">Mot de Passe doit contenir moins de 15 lettres</div>
                        </div>
                    </div>
                </div>
                <button type="submit" id="btnConnect" [disabled]="connect.invalid">SE CONNECTER</button>
            </form>
        </div>
        <p class="hrefInscribe">Vous n'êtes pas inscrit ? <a href="#" [routerLink]="'/sign-up-page'">Inscrivez-vous</a></p>
    </div>
</div>
