<div class="lunchContain">
    <div class="present">
        <nav class="navbar">
            <div class="navbar-brand">
                <img src="/assets/picts/main-page/healGamerLogo.png" [routerLink]="'/main-page'" class="img-fluid w-100" alt="healGamerLogo" />
            </div>
            <button type="button" id="btnCanvas" data-bs-toggle="offcanvas" data-bs-target="#sideCanvas"><i class="fas fa-bars"></i></button>
            <div class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link" [routerLink]="'/well-page'"><em>ETRE EN FORME</em></a></li>
                <li class="nav-item"><a href="#" class="nav-link" [routerLink]="'/anti-inflammatory-page'"><em>ANTI INFLAMMATOIRE</em></a></li>
                <button type="button" id="btnLogIn" [routerLink]="'/log-in-page'"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
            </div>
        </nav>
    </div>
    <div class="lunchPresent">
        <h2 class="name">REPAS DE MIDI :</h2>
        <div class="listLunch">
            <div class="row">
                <div class="col-lg-4" *ngFor="let recipe of recipes">
                    <img [src]="recipe.pict" [routerLink]="['/lunch-recipes', recipe.id]" class="img-fluid w-100" alt="pictBreakfast" appIdea />
                </div>
            </div>
        </div>
        <div class="drink">
            <p class="list">Boisson qui fait baisser le taux de gyclémie de 8 à 30 % :</p>
            <p class="mix">Mélanger tous les ingrédients :</p>
            <div class="listIngredient">
                <p><em>1/2 jus de citron</em></p>
                <p><em>1 c-à-s de vinaigre de pomme</em></p>
                <p><em>1 verre d'eau</em></p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© Heal Gamer</p>
        <button type="button" id="btnContact" data-bs-toggle="modal" data-bs-target="#contact">CONTACT</button>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="sideCanvas">
  <div class="offcanvas-header">
    <button type="button" id="btnCloseCanvas" data-bs-dismiss="offcanvas">
        <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="listSide">
        <li class="side-item"><a href="#" class="side-link" [routerLink]="'/well-page'">ETRE EN FORME</a></li>
        <li class="side-item"><a href="#" class="side-link" [routerLink]="'/anti-inflammatory-page'">ANTI INFLAMMATOIRE</a></li>
        <button type="button" id="btnLogIn" [routerLink]="'/log-in-page'"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
    </div>
  </div>
</div>

<div class="modal fade" id="contact" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <button type="button" id="btnCloseModal" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
        <div class="modal-body">
            <h2>CONTACTEZ-NOUS :</h2>
            <div class="form-area">
                <form #contact="ngForm" (ngSubmit)="showContact(contact)">
                    <div class="formGroupOne">
                        <div class="form-group">
                            <label></label>
                            <input type="text" name="user" #user="ngModel" class="form-control" placeholder="Nom d'utilsateur" [(ngModel)]="person.user" minlength="15" [ngClass]="{'is.invalid': user.touched && user.invalid}" required />
                            <div class="warning" *ngIf="user.invalid && (user.dirty || user.touched)">
                                <div class="alert alert-danger" *ngIf="user.hasError('required')">Pseudo est requis</div>
                                <div class="alert alert-danger" *ngIf="user.hasError('minlength')">Pseudo doit contenir moins de 15 lettres</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label></label>
                            <input type="email" name="email" class="form-control" placeholder="Adresse email" #email="ngModel" [(ngModel)]="person.email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" [ngClass]="{'is.invalid': email.invalid && email.touched}" required />
                            <div class="warning" *ngIf="email.invalid && (email.dirty || email.touched)">
                                <div class="alert alert-danger" *ngIf="email.hasError('required')">L'adresse email est requise</div>
                                <div class="alert alert-danger" *ngIf="email.hasError('pattern')">L'adresse email n'est pas correcte</div>
                            </div>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label></label>
                        <textarea name="message" placeholder="Message (limite 300 lettres)" #message="ngModel" class="form-control" [(ngModel)]="person.message" minlength="300" [ngClass]="{'is.invalid': message.touched && message.invalid}" cols="30" rows="10" required></textarea>
                        <div class="warning" *ngIf="message.invalid && (message.dirty || message.touched)">
                            <div class="alert alert-danger" *ngIf="message.hasError('required')">Le message est requis</div>
                            <div class="alert alert-danger" *ngIf="message.hasError('minlength')">Le message doit contenir moins de 300 lettres</div>
                        </div>
                    </div>
                    <button type="submit" id="btnSend" [disabled]="contact.invalid">ENVOYER</button>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
